@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    font-size:18px;
    font-weight:300;
    margin:0px;
    padding: 0px;
}

:root{
    --softBlue:hsl(215,51%,70%);
    --cyan:hsl(178,100%,50%);

    --mainBG:hsl(217,54%,11%);
    --cardBG:hsl(216,50%,16%);
    --darkBlue:hsl(215,32%,27%);
    --white:hsl(0,0%,100%);
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--mainBG);
    transform:translateY(20%);
}

main{
    width:46vh;
    height:75vh;
    background-color:var(--cardBG);
    border-radius:15px;
    display:grid;
    justify-content:center;
}

hr{
    background-color:var(--darkBlue);
    height:2px;
    width:85%;
    justify-self:center;
    border:0px;
}

#eye{
    opacity:0%;
    position:absolute;
    justify-self:center;
    transform:translateY(135px);
    cursor:pointer;
}
#eye:hover{
    opacity:100%;
}

#idText{
    color:white;
    font-weight:600;
    padding-left:20px;
    padding-top:10px;
    cursor:pointer;
}
#idText:hover{
    color: var(--cyan);
}

#smallText{
    color:var(--softBlue);
    padding-left:20px;
    padding-bottom:0px;
}

#info{
    display:flex;
    gap:12vh;
    place-self:center;
    padding-bottom:0px;
}
#info1{
    color: var(--cyan);
    font-weight:600;
}
#info2{
    color: var(--softBlue);
    font-weight:400;
}

#creator{
    display:flex;
    gap:10px;
    padding-left:20px;
}
#textDiv{
    display:inherit;
    gap:5px;
    transform:translateY(6px);
    padding-left:2px;
}
#textDiv1{
    color:var(--softBlue);
}
#textDiv2{
    color:var(--white);
    cursor:pointer;
}

#textDiv2:hover{
    color:var(--cyan);
}

.icons{
    display:flex;
    gap:6px;
    align-items:center;
}